:root{
    --gameArea:#000000;
    --brick: #ffa500;
    --paddle: #0000ff;
    --ball : #ff0000;
    --background: #222;
    --primary: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background);
}

#ball, #paddle, .brick {
    backface-visibility: hidden;
    will-change: transform; /* Indicates to the browser that these elements will move */
}

.game-interface {
    position: relative;
    width: 600px;
    height: 500px;
    background:var(--gameArea);
    border: 2px solid var(--primary);
    overflow: hidden;
    /* contain: strict;  */
}

#ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background: var(--ball);
    border-radius: 50%;
}

#paddle {
    position: absolute;
    width: 100px;
    height: 10px;
    background-color: var(--paddle);
    bottom: 10px;
}

.brick {
    position: absolute;
    width: 50px;
    height: 10px;
    background-color: var(--brick);
    
}
#game-container {
    position: relative;
    width: 600px;
    margin: 0 auto;
}

#scoreboard {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
}

#timer, #score, #lives {
    font-size: 18px;
    font-weight: bold;
}

#timer {
    color: #ff9900;
}

#score {
    color: #33cc33;
}

#lives {
    color: #ff3333;
}

#start-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    z-index: 100;
}